*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}
a{
    text-decoration:none;
    display: inline-block;

}

.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px;

}

.panel{
    margin: 15px 20px;
    font-size: 20px;
    color: #2b0dd9;
}
.text{
    margin-bottom: 10px;
}
.title{
    margin: 15px 0 ;
}
.box{
    width: 200px;
    height: 200px;
    background-color: #2b0dd9;
    margin: 20px;
}
.out{
    height: 100px;
    max-width: 100%;
    background-color:#2b0dd9;
    padding: 25px;
    margin: 60px 30px;
}
